{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_story9_register.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/story9.js' %}"></script>

    <title>Book Finder | REGISTER</title>
</head>
<body>
    <div class="container">
        <h1 id="header-text"><b>Register your account</b></h1>

        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input class="form-control" type="text" placeholder="Your Username" id="username" name="username" required>

            {% if message_username != '' %}
                <p style="color: red;">{{ message_username }}</p>
            {% endif %}

            <label for="password">Password:</label>
            <input class="form-control" type="password" placeholder="Your Password" id="password" name="password" required>

            {% if message_password != '' %}
                <p style="color: red;">{{ message_password }}</p>                
            {% endif %}

            <label for="username">First Name:</label>
            <input class="form-control" type="text" placeholder="Your First Name" id="first-name" name="first_name" required>
        
            <label for="username">Last Name:</label>
            <input class="form-control" type="text" placeholder="Your Last Name" id="last-name" name="last_name" required>
       
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>