{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_story9_login.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/story9.js' %}"></script>

    <title>Book Finder | LOGIN</title>
</head>
<body>
    <div class="container">

        <h1 id="header-text"><b>LOGIN TO BOOK FINDER</b></h1>

        <form method="POST"> 
            {% csrf_token %}
            <label for="username">Username:</label>   
            <input class="form-control" type="text" placeholder="Your Username" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input class="form-control" type="password" placeholder="Your Password" id="password" name="password" required>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        {% if message != '' %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}

    </div>

</body>
</html>