{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_story9.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/story9.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Book Finder</title>
</head>

<body>

    <div class="container">
        <div class="row">

            {% if user_now == 'Welcome' %}
                <a href="{% url 'story9_login' %}" class="btn btn-light col-md-1 col-4">Login</a>
                <a href="{% url 'story9_register' %}" class="btn btn-light col-md-1 col-4">Register</a>
            {% else %}
                <a href="{% url 'story9_logout' %}" class="btn btn-light col-md-1 col-4">Logout</a>
            {% endif %}


            {% if user_now != 'Welcome' %}
                <h3 id="greeting" class="col-md-10 col-12">
                    Hello, <span style='color : #1B9CFC'>{{ user_now }}</span>!
                </h3>
            {% else %}
                <h3 id="greeting" class="col-md-10 col-12">
                    {{ user_now }}!
                </h3>
            {% endif %}
        </div>
    </div>

    <h1 id="header-title" style="text-align: center; color: #1B9CFC;"><b>BOOK FINDER</b></h1>

    <div class="container">

        <!-- Search form -->
        <input id="search" class="form-control col-12" type="text" placeholder="Find Your Book">
        
        <button id="search-btn" type="button" class="btn btn-primary">Search</button>

        <div id="results" class="row">

        </div>

    </div>


    <!-- LOADING -->
    <div class="modal"></div>

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>