{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_story9_logout.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/story9.js' %}"></script>

    <title>Book Finder | LOGOUT</title>
</head>
<body>
    <div class="container">

        <h1 id="header-text"><b>Are you sure want to logout?</b></h1>
        <br>
        <br>

        <div class="row justify-content-center">
            <a href="{% url 'story9' %}" class="btn btn-primary btn-logout">&nbsp;&nbsp;No&nbsp;&nbsp;</a>
            
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-logout" name="logout">&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>
            </form>
        </div>

    </div>

</body>
</html>