{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Iqrar Agalosi Nureyza</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse " id="collapsingNavbar">
            <ul class="row navbar-nav">
                <li class="col- nav-item active">
                    <a class="nav-link navbar-menu-text" style="color: white">HOME</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/about" style="color: white">ABOUT ME</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/experience" style="color: white">EXPERIENCES</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/skill" style="color: white">SKILLS</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/achievement" style="color: white">ACHIEVEMENTS</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/organization" style="color: white">ORGANIZATIONS</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/contact" style="color: white">CONTACT</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/cv" style="color: white">CV</a>
                </li>
            </ul>
    
        </div>
    </nav>

    <!-- ACHIEVEMENTS -->
    <div class="ach-bg" id="achv">
        <div>
            <h2 class="col-12 justify-content-center align-items-center" style="text-align: center; color: #4C3F6E">Achievements</h2>
            <div class="col justify-content-start align-items-center ach-content">
                <!-- 1 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #F83D7D">1</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            3rd Winner Competitive Programming <br>
                            in Pekan RISTEK FASILKOM UI 2018
                        </h3>
                        <p style="font-size: 18px">Dec 2018 - RISTEK FASILKOM UI</p>
                        <p style="font-weight: 600; font-size: 18px;">
                            Pekan RISTEK is a competition held by RISTEK FASILKOM where the field contested is more
                            inclined towards the interests
                            of students themselves. Examples: Web Development, Competitive Programming, Capture The
                            Flag, and so on.
                            <br><br>
                            Team : Sayang Bunda (Iqrar Agalosi Nureyza, Rony Agus Vian, Fransiscus Emmanuel Bunaren)
                        </p>
                    </div>
                </div>

                <!-- 2 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #854B7E">2</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            1st Winner Poster Design <br>
                            Newbie Cup 2018
                        </h3>
                        <p style="font-size: 18px">Oct 2018 - PMB FASILKOM UI</p>
                        <p style="font-weight: 600; font-size: 18px;">
                            Newbie Cup is a competition held by PMB FASILKOM UI. The field of art and science competed
                            in this competition. This
                            competition is intended for first-year students at FASILKOM UI in order to find talent for
                            UIAW and OIM UI.
                        </p>
                    </div>
                </div>

                <!-- 3 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #3F8198">3</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            2nd Winner <br>
                            in LUSTRUM FTI UNAND
                        </h3>
                        <p style="font-size: 18px">Aug 2017 - Andalas University</p>
                        <p style="font-weight: 600; font-size: 18px;">
                            LUSTRUM is an informatics competition organized by Universitas Andalas and intended for high
                            school students in West
                            Sumatera Province, Indonesia.
                        </p>
                    </div>
                </div>

                <!-- 4 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #4C3F6E">4</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            Finalist <br>
                            in National Science Olympiad 2017
                        </h3>
                        <p style="font-size: 18px">Jul 2017 - Kementerian Pendidikan dan Kebudayaan Republik Indonesia
                        </p>
                        <p style="font-weight: 600; font-size: 18px;">
                            The National Science Olympiad 2017 was held in Pekanbaru, Riau Province. It was organized by
                            the Ministry of Education
                            and Culture in order to improve the quality of students in Indonesia in the field of
                            science.
                        </p>
                    </div>
                </div>

                <!-- 5 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #F83D7D">5</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            3rd Winner <br>
                            in FireTech 2017
                        </h3>
                        <p style="font-size: 18px">Apr 2017 - Andalas University</p>
                        <p style="font-weight: 600; font-size: 18px;">
                            Technology and information competition organized by UKM Neo Telemetry Andalas University
                            throughout West Sumatra
                        </p>
                    </div>
                </div>

                <!-- 6 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #854B7E">6</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            1st Winner <br>
                            in Computer Pre-Olympiad
                        </h3>
                        <p style="font-size: 18px">Nov 2016 - SMAN 1 Ampek Angkek</p>
                        <p style="font-weight: 600; font-size: 18px;">
                            Science competition held by SMAN 1 Ampek Angkek
                            <!-- WHITE SPACE :v -->
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        </p>
                    </div>
                </div>

                <!-- 7 -->
                <div class="row justify-content-center align-items-center ach-text">
                    <h1 class="col-12 col-md-1" style="color: #3F8198">7</h1>
                    <div class="col-12 col-md-8" style="margin-left: 20px; text-align: left">
                        <h3 style="font-weight: bold; font-size: 24px">
                            Gold Medalist <br>
                            in Pre Science Olympiad
                        </h3>
                        <p style="font-size: 18px">Nov 2016 - SMAN 1 Sumatera Barat</p>
                        <p style="font-weight: 600; font-size: 18px;">
                            A competition held by SMAN 1 SUMATERA BARAT in preparation for
                            the National Science Olympiad 2017 at Pekanbaru, Riau Province
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>