{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Iqrar Agalosi Nureyza</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse " id="collapsingNavbar">
            <ul class="row navbar-nav">
                <li class="col- nav-item active">
                    <a class="nav-link navbar-menu-text" style="color: white">HOME</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/about" style="color: white">ABOUT ME</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/experience" style="color: white">EXPERIENCES</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/skill" style="color: white">SKILLS</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/achievement" style="color: white">ACHIEVEMENTS</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/organization" style="color: white">ORGANIZATIONS</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/contact" style="color: white">CONTACT</a>
                </li>
    
                <li class="col- nav-item">
                    <a class="nav-link navbar-menu-text" href="/cv" style="color: white">CV</a>
                </li>
            </ul>
    
        </div>
    </nav>

    <!-- EXPERIENCES -->
    <div class="exp-bg" id="exp">
        <h2 class="col-12 justify-content-center align-items-center" style="text-align: center; color: white; margin-bottom: 40px">
            Experiences</h2>
        <div class="col justify-content-center" style="width: 100%">
            <!-- UI -->
            <div class="row justify-content-start align-items-center exp-content">
                <img class="logo" src="/static/img/UI_Logo.jpg" alt="UI">
                <div class="col exp-text">
                    <h3><i>Teaching Assistant of Programming Foundation 1</i></h3>
                    <p class="exp-text-p1">Universitas Indonesia</p>
                    <p class="exp-text-p2">Aug 2019 - Present</p>
                </div>
            </div>
            <!-- COMPFEST -->
            <div class="row justify-content-start align-items-center exp-content">
                <img class="logo" src="/static/img/compfest.png" alt="Compfest">
                <div class="col exp-text">
                    <h3><i>Visual Designer</i></h3>
                    <p class="exp-text-p1">COMPFEST</p>
                    <p class="exp-text-p2">Feb 2019 - Present</p>
                </div>
            </div>
            <!-- EDUCARE -->
            <div class="row justify-content-start align-items-center exp-content">
                <img class="logo" src="/static/img/educare.jpg" alt="Educare">
                <div class="col exp-text">
                    <h3><i>Creative Staff</i></h3>
                    <p class="exp-text-p1">Educare</p>
                    <p class="exp-text-p2">Jan 2019 - Apr 2019</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>