.navbar-menu-text {
    margin-left: 30px;
    margin-right: 30px; 
    margin-top: 5px;
    font-size: 18px;
}

.navbar-menu-text:hover {
    font-weight: 700;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

.font-nama-panjang {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    text-align: center;
    margin: 0;
}

.font-content {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 48px;
}

/* HOME */
.homepage {
    background-image: url("/static/img/Space-Desktop.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.homepage-content p {
    color: white;
}

.homepage-content img {
    border-radius: 100%;
    border-width: 9px;
    border-style: solid;
    border-color: white;

    width: 200px;
    height: 200px;
}

/* ABOUT ME */
.about-me {
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 18vw;
    padding-bottom: 18vw;
}

.about-me p {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

/* EXPERIENCES */
.exp-bg {
    background-image: url("/static/img/galaxy.jpg");
    height: 130%;
    background-position: center;
    background-size: cover;

    border-radius: 100px;

    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 100px;
    margin-top: 100px;

    padding-top: 70px;
}

.exp-content {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 5vw;
}

.exp-text p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 0;
}

.exp-text-p1 {
        font-size: 36px;
        margin-left: 40px;
    }

    .exp-text-p2 {
        font-size: 24px;
        margin-left: 40px;
    }

.exp-text h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 0;
    margin-left: 40px;
    font-weight: bold;
    font-size: 36px;
}

.logo {
    width: 169px;
    height: 169px;

    border-radius: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

/* SKILLS */
.skills-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(108deg, #3F8198 0.44%, #4C3F6E 100%);
    padding: 70px 40px 40px 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.skills-text h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    color: white;
    margin-top: 50px;   
}

/* ACHIEVEMENTS */
.ach-bg {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.ach-content {
    margin-top: 70px;
}

.ach-text {
    margin-top: 50px;
}

.ach-text h1 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;

    text-align: right;
}

.ach-text p, h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

/* ORGANIZATIONS */
.org-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 32.44%, rgba(255, 255, 255, 0) 120.97%), url("/static/img/space.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

    padding-top: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100%;
}

.org-box {
    margin-top: 30px; 
}

.org-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

.org-text h4 {
    
    font-weight: bold;
    font-size: 24px;
}

.org-text h5 {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.org-text img {
    height: 145px;
    width: 145px;
    border-radius: 100%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .5);
}

/* CONTACT ME */

.social-box {
    height: 80%; 
    padding-top: 150px ;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-box {
    height: 100%; 
}

.contact-box img {
    height: 54px;
    width: 54px; 
}

.contact-box h2 {
    margin-right: 50px;
}

.contact-box p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;

    color: black;
    text-align: left;

    margin: 0;
}

.socmed-box h3 {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #3F8198;
}

.socmed-logo img {
    width: 54px;
    height: 54px;
    margin-right: 50px; 
}

.logo-hover:hover {
    transform: scale(0.9);
}

/* COPYRIGHT */
.cr {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    
    margin-top: 30px;
}

/* ---------------------------------------------------------------- */
/* cv.html */
.cv-bg {
    background-image: url("/static/img/galaxy.jpg");
    height: 200%;
    width: 100%;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vw 10vw 50px 10vw;
}

.cv-box {
    background-color: white;

    border-radius: 50px;
    height: 1100px;
    width: 700px;
    padding: 40px;

    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 80px;
}

.btn-primary {
    background-color: #4C3F6E;
    border-color: #4C3F6E; 
}

.btn-primary:hover {
    background-color: rgb(130, 107, 189);
    border-color: rgb(130, 107, 189);
}

/* -----------------------FOR SMALLER SCREEN----------------------- */

@media (max-width: 768px)  {
    
    /* ABOUT ME */
    .about-me {
        padding-top: 40vw;
    }
    
    .about-me p {
        font-size: 18px;
    }
    
    /* SKILL */
    .skills-text h3 {
        font-weight: 600;
        font-size: 30px;
        color: white;  
    }
    
    /* ORGANIZATION */
    .org-box {
       height: 100%;
    }

    .org-bg {
        height: auto;
    }

    /* ACHIEVEMENT */
    .ach-text h1 {
        font-size: 100px;

        text-align: left;
    }

    .ach-text h3 {
        font-size: 18px !important;
    }

    .ach-text p {
        font-size: 14px !important;
    }

    /* CONTACT */
    .socmed-box {
        margin-top: 40px;
    }

    .socmed-logo img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .contact-box img {
        height: 30px;
        width: 30px; 
    }

    .contact-box p {
        font-size: 16px;
    }

    .contact-box h2 {
        font-size: 32px;
    }

    /* EXPERIENCES */
    .exp-bg {
        height: 700px;
        border-radius: 50px;
    }

    .exp-text-p1 {
        font-size: 18px;
        margin-left: 15px;
    }

    .exp-text-p2 {
        font-size: 12px;
        margin-left: 15px;
    }

    .exp-text h3 {
        margin-left: 40px;
        font-weight: bold;
        font-size: 18px;
        margin-left: 15px;
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    /* CV */
    .cv-bg {
        height: auto;
        width: 100%;
        padding: 10vw 10vw 50px 10vw;
    }

    .cv-box {
        height: 700px;
        width: 370px;
        padding: 40px;
        margin-right: 10vw;
        margin-left: 10vw;
        margin-bottom: 80px;
    }

    .mycv {
        width: 330px;
        height: 650px;
    }
}