{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_story10.css' %}">
    
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>

    <title>STORY 10 : The Finale</title>
</head>

<body>
    <div class="container">
        <img id='logo' class='col-12' src="{% static 'img/Nginx_logo.png' %}" alt="NGINX LOGO">

        <h1>STORY 10 : <b><span style='color: #136207'>NGINX</span></b> TEST</h1>    
        <br>
        <p>This page is served by
            <br>
            <b>HOST : </b>{{ host }}
            <br>
            <b>PORT : </b>{{ port }}
        </p>
        <br>
        <br>
        <br>

        <h1>TUTORIAL FOR STORY 10</h1>
        <a href="https://gist.github.com/Iqrar99/726ca2f86601f176a41c32e7be3cdaa8">My GitHub Gist</a>
    </div>


    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>