{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_aboutdev.css' %}">

    <!-- JQuery and JS File --> 
    <script src= "{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src= "{% static 'js/js_aboutdev.js' %}"></script>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/static/img/twitter hitam putih.png" />

    <title>TWITTUM</title>
</head> 

<body>    

    <div class="cover-bg">    
        <div class="container">
            <div class="col">
                <div class="row twittum-navbar">
                    <a class="col-1" href="{{ link_homepage }}">
                        <img src="/static/img/twitter hitam putih.png" alt="logo">
                    </a>
                    <h3 class="col-1">Twittum</h3>

                    <div class="btn-colormode col-9">
                        <button id="colormode1" type="button" class="btn btn-primary" style="display: none;">Normal Mode</button>
                        <button id="colormode2" type="button" class="btn btn-dark">Dark Mode</button>
                    </div>
                </div>                
            </div>

            <h4 class="col-12 about-twittum-dev">About Twittum Developer</h4>
            <h1 id="nama" class="myname col-12">
                <b>IQRAR AGALOSI NUREYZA</b>
            </h1>

            <div class="row">
                <div class="content-org col-12 col-md-4">
                    <div class="btn-box" id="btn1">
                        <h3 id="text1"><b>My Organizations</b></h3>
                        <h3 id="text1-2" style="display: none;"><b>My Organizations</b></h3>
                    </div>
                    <div class="content-box" id="box1">
                        <p>
                            <b>- IMAMI UI</b> <br>
                            IMAMI UI is a community organization originating from West Sumatra. <br> 
                            <b>- FUKI</b> <br>
                            FUKI is a place to strengthen ukhuwah and increasing Islamic capacity to 
                            be able to being a Muslim is beneficial to the surrounding.
                        </p>
                    </div>
                </div>

                <div class="content-achv col-12 col-md-4">
                    <div class="btn-box" id="btn2">
                        <h3 id="text2"><b>My Achievements</b></h3>
                        <h3 id="text2-2" style="display: none;"><b>My Achievements</b></h3>
                    </div>
                    <div class="content-box" id="box2">
                        <p>
                            - <b>3rd Winner</b> Competitive Programming in Pekan RISTEK FASILKOM UI 2018 <br>
                            - <b>2nd Winner</b> in LUSTRUM FTI UNAND <br>
                            - <b>Finalist</b> in National Science Olympiad 2017 <br>
                            - <b>3rd Winner</b> in FireTech 2017 <br>
                            - <b>1st Winner</b> in Computer Pre-Olympiad in SMAN 1 Ampek Angkek <br>
                            - <b>Gold Medalist</b> in Pre Science Olympiad in SMAN 1 SUMBAR
                        </p>
                    </div>
                </div>

                <div class="content-act col-12 col-md-4">
                    <div class="btn-box" id="btn3">
                        <h3 id="text3"><b>My Activities</b></h3>
                        <h3 id="text3-2" style="display: none;"><b>My Activities</b></h3>
                    </div>
                    <div class="content-box" id="box3">
                        <p>
                            - Teaching in several high school <br>
                            - Joining UI Chess Club <br>
                            - Sharpening my Data Science skill 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        


        <!-- COPYRIGHT -->
        <div class="col-12 cr-div">
            <p class="cr">
                <span style="color: white">★</span>
                Iqrar Agalosi Nureyza © 2019
                <span style="color: white">★</span>
            </p>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>