h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 100px;
}

#search-btn {
    margin: 10px 10px 50px 10px;
}

#search {
    margin: 0 10px 0 10px;
}

.book-card {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    border-color:  #1B9CFC;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    width: 200px;
}

.book-card:hover {
   border-width: 2px;
}

.book-card p {
    width: 100%;
}

.book-card h5 {
    width: 100%;
}

.book-cover {
    width: 150px;
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.not-found {
    text-align: center;
}

/* FOR LOADING ANIMATION */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/img/Infinity-1.2s-200px.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


@media (max-width: 768px){

    .book-card {
        width: 400px;
    }
    
    .cover-buku {
        width: 100px;
    }

    .not-found {
        font-size: 20pt;
    }


}